.header {
    height: var(--header-height);
    background: linear-gradient(180deg, #f53d2d, #f63 );
}
.header__navbar {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    height: var(--navbar-height);
}

.header__navbar-list {
    list-style-type: none;
}

.header__navbar-item {
    margin: 0 8px;
    position: relative;
}
.header__navbar-item--seperate {
    border-right: 2px solid hsla(0,0%,100%,.22);
    padding-right: 1rem;
}

.header__navbar-item--qr:hover .header__qr {
    display: block;
}
.header__navbar-item,
.header__navbar-item-link {
    display: inline-block;
    font-size: 1.4rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 200;
}

.header__navbar-label {
    cursor: text;
    color: var(--white-color);
}

.header__navbar-item:hover,
.header__navbar-icon-link:hover, 
.header__navbar-item-link:hover {
    cursor: pointer;
    color: rgba(255,255,255,0.7);
}

.header__navbar-item--strong {
    font-weight: 600;
}

.header__navbar-icon {
    font-size: 1.8rem;
    margin: 0 8px;
}
.header__navbar-icon-link {
    color: var(--white-color);
    text-decoration: none;
}

/* QR Code */
.header__qr {
    width: 186px;
    background-color: var(--white-color);
    position: absolute;
    left: 0;
    top: calc(100% + 18px);
    padding: 8px;
    border-radius: 2px;
    display: none;
    animation: fadeIn ease 0.3s;
    z-index: 1;
}

.header__qr-img {
    width: 100%;
}

.header__qr-apps {
    display: flex;
    justify-content: space-between;
}

.header__qr-download-img {
    height: 18px;
}

/* Header notification */
.header__notify {
    width: 404px;
    background-color: var(--white-color);
    position: absolute;
    right: 0;
    top: calc(100% + 18px);
    border: 1px solid #D3D3D3;
    cursor: default;
    animation: headerNotifyGrowth ease-in 0.3s;
    transform-origin: top right;
    will-change: opacity, transform;
    display: none;
    z-index: 2;
}

.header__notify::before {
    content: "";
    border: 20px solid white;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 5px;
    top: -30px;
}

@keyframes headerNotifyGrowth {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.header__navbar-item--notification:hover .header__notify{
    display: block;
}

.header__notify-header {
    height: 40px;
    background-color: var(--white-color);
}
.header__notify-header h3 {
    color: #999;
    margin: 0 0 0 12px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 40px;
    cursor: text;
}

.header__notify-list{
    display: flex;
    flex-direction: column;

}

.header__notify-item{
    display: flex;
}

.header__notify-item:hover{
    background-color: #f7f7f7;
}

.header__notify-item--viewed {
    background-color: rgba(238, 75, 43, 0.08);
}

.header__notify-img {
    width: 48px;
    object-fit: contain;
}

.header__notify-link {
    display: flex;
    width: 100%;
    padding: 12px;
    text-decoration: none;
}

.header__notify-info {
    margin-left: 12px;
}

.header__notify-name {
    font-size: 1.4rem;
    color: var(--black-color);
    font-weight: bolder;
    margin-bottom: 5px;
}
.header__notify-desc {
    font-size: 1.2rem;
    color: #756F6E;
    line-height: 1.6rem;;
}

.header__notify-name,
.header__notify-desc {
    display: block;
}

.header__notify-footer {
    display: flex;
}

.header__notify-footer-btn {
    width: 100%;
    text-decoration: none;
    line-height: 3rem;
    color: var(--text-color);
    text-align: center;
    padding: 8px 0;
    font-size: 1.6rem;
    font-weight: bolder;
}

.header__notify-footer-btn:hover {
    background-color: #f7f7f7;
}

/* Authen Modal */
.auth-form {
    width: 500px;
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
}

.auth-form__container {
    padding: 20px 32px;
}

.auth-form__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
    margin-top: 12px;
    padding: 0 12px;
}

.auth-form__heading {
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--text-color);
}

.auth-form__switch-btn {
    font-size: 1.6rem;
    color: var(--primary-color);
    cursor: pointer;
}

.auth-form__input {
    width: 100%;
    height: 40px;
    margin-top: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    outline: none;
}

.auth-form__input:focus {
    border-color: #888;
}

.auth-form__aside {
    margin-top: 18px;
}

.auth-form__policy-text {
    font-size: 1.4rem;
    line-height: 2rem;
    text-align: center;
}

.auth-form__policy-link {
    color: var(--primary-color);
    text-decoration: none;
}

.auth-form__control {
    margin-top: 100px;
    display: flex;
    justify-content: flex-end;
}

.auth-form__control-back {
    margin-right: 8px;
}

.auth-form__socials {
    background-color: #F5F5F5;
    padding: 16px 32px;
    display: flex;
    justify-content: space-between;
}

.auth-form__socials-icon {
    font-size: 1.8rem;
    margin-right: 6px;
}

.auth-form__socials-fb,
.auth-form__socials-gg  {
    color: var(--white-color);
    background-color: #1877f2;
}

.auth-form__socials-title {
    margin: 0 30px;
}

.auth-form__help {
    display: flex;
    justify-content: flex-end;
}

.auth-fotm__help-link {
    text-decoration: none;
    font-size: 1.4rem;
}

.auth-fotm__help-link:first-child {
    margin-right: 20px;
    color: var(--primary-color);
    font-weight: bold;
}

.auth-fotm__help-link:last-child {
    color : #999;
}

.header-with-search {
    height: var(--header-with-search-height);
    display: flex;
    align-items: center;
    margin: 0 8px;
}

.header__logo {
    width: 200px;
}

.header__logo-img {
    width: 150px;
}

.header__search {
    height: 40px;
    flex: 1;
    border-radius: 2px;
    background-color: var(--white-color);
    display: flex;
    align-items: center;
}

.header__cart {
    width: 150px;
    text-align: center;
    position: relative;
}

.header__cart-icon {
    color: var(--white-color);
    font-size: 2.4rem;
    margin-top: 4px;
}
.header__cart-wrap {
    position: relative;
    display: inline-block;
    padding: 0 8px;
}

.header__cart-wrap:hover {
    cursor: pointer;
}

.header__cart-wrap:hover ~ .header__cart-list--no-cart {
    cursor: pointer;
    display: block;
}

.header__cart-list--no-cart {
    background-color: var(--white-color);
    width: 410px;
    height: 200px;
    position: absolute;
    right: 50px;
    top: calc(100% + 8px);
    border-radius: 2px;
    animation: fadeIn ease-in 0.2s;
    display: none;
    z-index: 1;
}

.header__cart-list--no-cart-img {
    width: 60px;
    margin-top: 30px;
}

.header__cart-list--no-cart-title {
    font-size: 1.6rem;
    color: var(--text-color);
    text-transform: capitalize;
    margin-top: 30px;
}

.header__cart-list--no-cart::before {
    content: "";
    border: 20px solid white;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 3px;
    top: -28px;
    cursor: pointer;
}

.header__search-input-wrap {
    flex: 1;
    width: 100%;
    height: 100%;
    position: relative;
}

.header__search-history {
    position: absolute;
    top: 105%;
    left: 0;
    width: calc(100% - 16px);
    background-color: var(--white-color);
    border-radius: 3px;
    box-shadow: 0 1px 5px #999;
    display: none;
    z-index: 1;
}
.header__search-history-heading {
    margin: 6px 12px;
    font-size: 1.5rem;
    color: #999;
    font-weight: 400;
}

.header__search-history-list{
    padding-top: 10px;
    padding-left: 0;
    list-style: none;
}

.header__search-history-item {
    height: 30px;
    padding: 0 16px;
}

.header__search-history-item:hover {
    background-color: #fafafa;
}

.header__search-history-item a {
    display: block;
    text-decoration: none;
    font-size: 1.2rem;
    color: var(--text-color); 
}

.header__search-input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size:  1.4rem;
    color: var(--text-color);
    padding: 0 16px;
    border-radius: 3px;
}

.header__search-input:focus ~ .header__search-history {
    display: block;
}

.header__search-select {
    border-left: 1px solid #ccc;
    padding-left: 16px;
    display: flex;
    position: relative;
    align-items: center;
    height: 20px;
    cursor: pointer;
}

.header__search-select:hover .header__search-option {
    display: block;
}

.header__search-select-label,
.header__search-select-icon {
    font-size: 1.4rem;
    color: var(--text-color);
}

.header__search-select-icon {
    margin: 0 16px;
}

.header__search-btn {
    background-color: var(--primary-color);
    border: none;
    height: 34px;
    width: 60px;
    outline: none;
    margin-right: 3px;
}

.header__search-btn:hover {
    cursor: pointer;
    background-color: #fb6445;
}

.header__search-btn-icon {
    font-size: 1.4rem;
    color: var(--white-color);
}

.header__search-option{
    width: 140px;
    list-style: none;
    position: absolute;
    right: 0;
    top: 110%;
    box-shadow: 0 1p 3px #ccc;
    display: none;
    animation: fadeIn ease-in 0.1s;
}

.header__search-option::before{
    content: "";
    display: block;
    width: 100%;
    height: 10px;
    top: -10px;
    left: 0;
}

.header__search-option-item {
    background-color: var(--white-color);
    padding: 16px 5px;
}

.header__search-option-item:first-child {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.header__search-option-item:last-child {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.header__search-option-item:hover {
    cursor: pointer;
    background-color: #fafafa;
}

.header__search-option-item span {
    font-size: 1.4rem;
    color: var(--text-color);
    margin-left: 20px;
}

.header__search-option-item i {
    font-size: 1.2rem;
    color: var(--primary-color);
    margin-left: 20px; 
    display: none;
}

.header__search-option-item--active i {
    display: inline-block;
}

/* App Container */
.app__container {
    background-color: #F5F5F5;
    padding: 10px 0;
}

.category {
    background-color: var(--white-color);
    border-radius: 2px;
}

.category__heading {
    font-size: 1.7rem;
    color: var(--text-color);
    padding: 12px 16px;
    border-bottom: 1px solid #F5F5F5;
}

.category__heading-icon {
    font-size: 1.4rem;
    margin-right: 4px;
}

.category-list {
    margin-left: 10px;
    padding-left: 0;
    padding-top: 15px;
    list-style: none;
}

.category-item--active .category-item__link {
    color: var(--primary-color);
}

.category-item--active {
    position: relative;
}
.category-item--active .category-item__link::before{
    content: "";
    position: absolute;
    top: 40%;
    left: 6px;
    border: 4px solid;
    border-color: transparent transparent transparent var(--primary-color);
}

.category-item__link {
    position: relative;
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--text-color);
    padding: 12px 16px;
    display: block;
    transition: right linear 0.1s;
    left: 0;
}

.category-item__link:hover {
    left: 4px;
    color: var(--primary-color);
}

.home-filter {
    background-color: rgba(0, 0, 0, 0.05);
    display: flex;
    padding: 12px 22px;
    border-radius: 2px;
    align-items: center;
}

.home-filter__page {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.home-filter__label {
    font-size: 1.4rem;
    color: #555;
    margin-right: 16px;
}

.home-filter__btn {
    min-width: 90px;
    margin-right: 12px;
}

.home-filter__page-num {
    font-size: 1.5rem;
    color: var(--text-color);
    margin-right: 20px;
}

.home-filter__page-current{
    color: var(--primary-color);
}

.home-filter__page-control {
    border-radius: 2px;
    overflow: hidden;
    display: flex;
    width: 72px;
    height: 36px;
}

.home-filter__page-btn {
    text-decoration: none;
    flex: 1;
    display: flex;
    background-color: var(--white-color);
}

.home-filter__page-btn--disabled {
    background-color: #f9f9f9;
    cursor: default;
}

.home-filter__page-btn--disabled .home-filter__page-icon  {
    color: #ccc;
}

.home-filter__page-btn:first-child {
    border-right: 1px solid #eee;
}

.home-filter__page-icon {
    margin: auto;
    font-size: 1.4rem;
    color: #555;
}

.home-product {
    margin-top: 10px;
}

.home-product-item {
    display: block;
    text-decoration: none;
    margin: 0 0 10px 0;
    background-color: var(--white-color);
    position: relative;
    border-radius: 2px;
    box-shadow: 0 0.0625rem 0.125rem 0 rgb(0 0 0 / 10%);
}

.home-product-item:hover {
    box-shadow: 0 0.0625rem 20px 0 rgb(0 0 0 / 5%);
    -webkit-transform: translateY(-1px);
    transform: translateY(-1px);
    z-index: 1;
}

.home-product-item__img {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    padding-top: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.home-product-item__name {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--text-color);
    line-height: 1.8rem;
    height: 3.6rem;
    overflow: hidden;
    margin: 10px 10px;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
}

.home-product-item__price {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    margin-left: 10px;
    font-size: 1.rem;
}

.home-product-item__price-old {
    font-size: 1.4rem;
    color: #929292;
    text-decoration: line-through;
}

.home-product-item__price-current {
    font-size: 1.6rem;
    color: var(--primary-color);
    margin-left: 6px;
}

.home-product-item__action {
    display: flex;
    justify-content: baseline;
    justify-content: space-between;
    margin: 10px 10px;
}

.home-product-item__like {
    font-size: 1.4rem;
}

i.home-product-item__like-icon-fill {
    color: #F63D30;
    display: none;
}

.home-product-item__like--liked .home-product-item__like-icon-fill {
    display: inline-block;
}

.home-product-item__like--liked .home-product-item__like-icon-empty {
    display: none;
}

.home-product-item__rating {
    font-size: 0.8rem;
    color: #D5D5D5;
    margin-left: auto;
}

.home-product-item__gold {
    color: var(--star-gold-color);
}

.home-product-item__sold {
    font-size: 1.2rem;
    color: var(--text-color);
    margin-left: 6px;
}

.home-product-item__origin {
    font-size: 1.2rem;
    font-weight: 300;
    color: rgba(0,0,0,.65);
    margin: 6px 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.home-product-item__favorite {
    background-color: var(--primary-color);
    color: var(--white-color);
    font-size: 1.2rem;
    line-height: 1.6rem;
    font-weight: bold;
    padding-right: 4px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    position: absolute;
    top: 10px;
    left: -4px;
}

.home-product-item__favorite::after {
    position: absolute;
    display: block;
    content: "";
    left: 0;
    bottom: -3px;
    border-top: 3px solid var(--primary-color);
    border-left: 3px solid transparent;
    filter: brightness(60%);
}

.home-product-item__favorite i {
    font-size: 0.8rem;
    margin: 0 3px 0 5px;
}

.home-product-item__sale-off {
    padding: 2px 0;
    border-top-right-radius: 2px;
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 36px;
    background-color: rgba(255,212,36,.9);
    text-align: center;
}

.home-product-item__sale-off::after {
    content: "";
    left: 0;
    bottom: -8px;
    position: absolute;
    border-color: transparent rgba(255,212,36,.9);
    border-style: solid;
    border-width: 0 20px 8px;
}

.home-product-item__sale-off-percent {
    color: #EE4D2D;
    font-size: 1.3rem;
    font-weight: bolder;
}

.home-product-item__sale-off-label {
    font-size: 1.4rem;
    font-weight: 300;
    color: var(--white-color);
}

.home-product__pagination {
    margin: 46px 0 58px 0;
}

/* Footer */
.footer {
    background-color: var(--white-color);
    border-top: 4px solid var(--primary-color);
    padding: 36px 0;
}

.footer__heading {
    font-size: 1.4rem;
    text-transform: uppercase;
    color: var(--text-color);
    margin-bottom: 20px;
}

.footer-list {
    padding-left: 0;
    list-style: none;
}

.footer-item__link {
    text-decoration: none;
    font-size: 1.4rem;
    color: #737373;
    display: block;
    padding: 10px;
}

.footer-item__link:hover {
    color: var(--primary-color);
}

.footer-item__icon {
    margin-right: 10px;
}

.footer__download {
    display: flex;
}

.footer__download-qr {
    width: 80px;
    height: 80px;
    border: 1px solid var(--border-color);
}

.footer__download-apps {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 16px;
}

.footer__download-app-img {
    height: 20px;
}